.row
  .col-md-12
    =link_to  channel_posts_path(@channel) do
      %strong{:style => "font-size:25px;"}
        =@channel.name
    -if @channel.owner_user == current_user
      =link_to "<i class='fa fa-pencil pull-right'></i>".html_safe, edit_channel_path(@channel) 

      =link_to "<i class='fa fa-times pull-right'></i>".html_safe, @channel, :method => :delete 
