%h1
  All channels
          
.col-md-12
  =form_for (@channel || Channel.new), remote: true, :url => channel_search_all_path, :method => 'get', :html => {class: "nav navbar-form navbar-left"} do |f|
    = f.text_field :name, placeholder: "Channel name", autocomplete: "off", :id => "channel_search_name"
    %ul.channel-dropdown-menu.dropdown-menu{"aria-labelledby" => "dLabel", role: "menu"}
      
#channel-list
  - @channels.each do |channel|
    -if !channel.private?
      = render 'card', :@channel => channel
%br/
= link_to 'New Channel', new_channel_path
