/* =======================================================================

                                  Forms

   ======================================================================= */





/* =======================================================================
   GENERAL FORMS
   Site wide styles
   ======================================================================= */

label, .control-label {
  font-weight: 500;
  font-size: 14px;
}
input.checkbox-styled[type="checkbox"] {
  display:none;
}
input.checkbox-styled[type="checkbox"] + label {
  font-weight: normal;
  cursor: pointer;
}
input.checkbox-styled[type="checkbox"] + label span {
  display: inline-block;
  width: 28px;
  height: 28px;
  margin: -1px 4px 0 0;
  vertical-align: middle;
  background: url(/assets/checkbox.png) left top no-repeat;
  cursor: pointer;
}
input.checkbox-styled[type="checkbox"]:checked + label span {
  background:url(/assets/checkbox.png) left bottom no-repeat;
}
.checkbox input[type="checkbox"] {
  width: auto;
  margin-top: 7px;
}
.has-error .form-control {
  border-color: $secondary-col;
  -webkit-box-shadow: none;
  box-shadow: none;
  &:focus {
    border-color: $secondary-col;
    -webkit-box-shadow: 0 0 2px $secondary-col;
    box-shadow: 0 0 2px $secondary-col;
  }
}
.has-error .help-block {
  color: $secondary-col;
  font-size: 14px;
  margin-top: -10px;
  margin-left: 5px;
}