%ul.dropdown-menu.notification-menu.unstyled{:role => "menu"}
  %li.notification-header
    %h4 Notifications
    =link_to("Show all", notifications_path, :class => "label-show-all")
  -if notifications.present?
    -notifications.each do |notification|
      =render('notifications/dropdown_notification', :notification => notification)
  -else
    %li.center.p-1 You have no notifications yet.