-notifications.group_by{|n| n.created_at.to_date}.each do |date, notifications_on_date|
  %li.date-divider.ml-1.mv-2
    .date-divider-line
    %span.message-date
      =date.today? ? 'Today' : "#{time_ago_in_words(date)} ago"
  -notifications_on_date.each do |notification|
    =render('notification', :notification => notification, :no_border => notifications_on_date.last == notification)