%li.notification.pb-1{:class => "#{notification.read? ? '' : 'unread'} #{no_border ? 'no-border' : ''}"}
  .notification-wrapper
    .notification-inner
      =link_to(image_for_notification(notification, "25x25#", :class => "img-circle notification-thumbnail"), polymorphic_path(notification.resource ? notification.resource : notification.class_path))
      =notification.content
      %br
      =link_to_notification_resource(notification)
    %span.notification-time
      ="#{time_ago_in_words(notification.created_at)} ago"