-self.formats = [:json, :html]
%h1.ml-2
  Your Notifications
.col-md-12
  -if @notifications.empty?
    %p
      You have no notifications yet.
  -else
    =render("notifications", :notifications => @notifications)