-if @users.present?
  -@users.each do |user|
    %li
      .search-item
        =image_tag search_avatar_url(user), class: "rounded_corners"
        =link_to user.name, user
-else
  .search-item
    No results