-if (current_user && current_user.accepted_friends.include?(@user)) || current_user == @user
  %span.friend-crud
    -if @user.email_visable_to_friends || current_user == @user

      %i.fa.fa-envelope-o
      =link_to(@user.email, "mailto:#{@user.email}")

      %br

    -if @user.images_visable_to_friends || current_user == @user

      %i.fa.fa-file-image-o
      =link_to('pictures', images_user_path(@user))

      %br

    -if @user.friends_visable_to_friends || current_user == @user

      %i.fa.fa-users
      =link_to('friends', friends_user_path(@user))

      %br

    - if signed_in? && @user != current_user && @user.can_be_messaged_by_friends
      %i.fa.fa-comment-o
        -if @channel
          =link_to("send a message", channel_posts_path(@channel))
        -else
          =link_to("send a message", add_private_channel_path(current_user, @user))

  
-else
  %span.friend-crud
    -if @user.email_visable

      %i.fa.fa-envelope-o
      =link_to(@user.email, "mailto:#{@user.email}")

      %br

    -if @user.images_visable

      %i.fa.fa-file-image-o
      =link_to('pictures', images_user_path(@user))

      %br

    -if @user.friends_visable

      %i.fa.fa-users
      =link_to('friends', friends_user_path(@user))

      %br

    - if signed_in? && @user != current_user && @user.can_be_messaged

      %i.fa.fa-comment-o
        -if @channel
          =link_to("send a message", channel_posts_path(@channel))
        -else
          =link_to("send a message", add_private_channel_path(current_user, @user))
