- content_for :before_container do
  .jumbotron
    .container
      .col-md-12
        %h1
          Welcome to Joelbook
      .col-md-12
        %p
          Joelbook is a social network designed to operate in realtime using
          =link_to("ruby on rails", "http://rubyonrails.org") + ", " + link_to("socket.io", "http://www.socket.io") + ", " + link_to("backbone.js", "http://backbonejs.org")
          and various ajax tools. Please feel free to use Joelbook for any positive purpose and invite your friends.
      .col-md-12
        -if !user_signed_in?
          =link_to("Sign up for free", new_user_registration_path, class: "btn btn-primary")
          or
          =link_to("login to your account", new_user_session_path)

.col-md-6
  =image_tag "imac.png", class: "imac img img-responsive #{user_signed_in? ? 'logged-in' : 'logged-out'}"

.col-md-6
  .col-md-12
    %h1
      Recent events
  -@events.reverse.each do |event|
    .col-md-12.pv-1
      %p
        %strong=event.name
      %p 
        =event.content  
      %span.event-time
        ="#{time_ago_in_words(event.created_at)} ago"    
    

  
.col-md-12
  .col-md-12
    %h1
      Latest posts
  .backbone
  
:javascript
  window.posts = #{@posts.to_json.html_safe};