<div class="modal fade" id="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" aria-hidden="true" data-dismiss="modal">
          x
        </button>
        <p>New Post</p>
      </div>
      <div class="modal-body">
        <div class="field">
          <label for="title">Name</label>
          <input type="text" name="name" value="<%= name %>">
        </div>
        <form accept-charset="UTF-8" action="/images" class="new_image" data-remote="true" enctype="multipart/form-data" id="new_image" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" />
          <input name="authenticity_token" type="hidden" value="CrMXSVRKo5yXlWGS7/HhgBsBj/tZOcduZ47w0QMEdz8=" />
          <input id="form_img_input" class="form_img_input" name="image[image]" type="file" />
          <img alt="Assets" id="form_img" src="/assets/" />
        </form>
        <div class="field">
          <input type="hidden" name="user_name" value="<%= window.user.name %>">
        </div>
        <div class="actions">
          <input id="save" type="submit" value="Save" data-dismiss="modal" data-static="true">
        </div>
      </div>
    </div>
  </div>
</div>

