<h1>Listing Posts</h1>

<table>
  <tr>
    <th>Name</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <% posts.each(function(post){ %>
    <tr>
      <td><%= post.get('name') %></td>
      <td><%= post.get('user_name') %></td>
	  <% if (post.get('user_name') == window.user.name){ %> 
      	<td><a href="posts/<%= post.id %>/edit" data-static="true">Edit</a></td>
      	<td><a href="#" data-method="delete" data-id="<%= post.id %>" data-static="true">Destroy</a></td>
	  <% } %>
    </tr>
  <% }); %>
</table>
<a href="/posts/new" id="new_post">New Post</a>