.col-md-12
  %h3
    =@channel.name if @channel

-if @channel && @channel.owner_user == current_user && !@channel.private? && !@channel.public?
  .col-md-6
    #accordion.panel-group.dropdown
      .panel.panel-default
        .panel-heading
          %h4.panel-title
            %a{"data-parent" => "#accordion", "data-toggle" => "collapse", href: "#collapse", :style => "display: inline;"}
              Manage Users
        #collapse.collapse
          .col-md-12
            %ul.no-dec.ul-user
              -@channel.users.reverse.each do |user|
                =render :partial => 'user', :locals => {:user => user, :channel => @channel}
          =form_for (@user || User.new), remote: true, :url => channel_search_path, :method => 'get', :html => {class: "nav navbar-form navbar-left"} do |f|
            .form-group
              = f.text_field :name, placeholder: "Add user to channel", autocomplete: "off", :id => "channel_user_name", :class => "input-sm form-control"
              %ul.channel-dropdown-menu.dropdown-menu.search{"aria-labelledby" => "dLabel", role: "menu"}
              = f.hidden_field :channel_id, :value => @channel.id
              
-elsif @channel && !@channel.private? && !@channel.public?
  .col-md-6
    #accordion.panel-group.dropdown
      .panel.panel-default
        .panel-heading
          %h4.panel-title
            %a{"data-parent" => "#accordion", "data-toggle" => "collapse", href: "#collapse", :style => "display: inline;"}
              Users
        #collapse.collapse
          .col-md-12
            %ul.no-dec.ul-user
              -@channel.users.reverse.each do |user|
                =render :partial => 'user', :locals => {:user => user, :channel => @channel}

:javascript
  window.posts = #{@posts.to_json.html_safe};
  window.profile = false;
  

